<ul id="dropdown1" class="dropdown-content">
    <li><a href="/explore" class="drop-item">Explore</a></li>
    <li><a href="/dash" class="drop-item">Dashboard</a></li>
    <li><a href="/auth/logout" class="drop-item">Logout</a></li>
</ul>
<nav class="orange">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Speer Quizzes</a>
    <ul class="right">
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="large material-icons">dehaze</i></a></li>
    </ul>
  </div>
</nav>


            