<h3>Speer Quizzes</h3>
<div class="section">
    <p class="lead">Make and Share Quizzes</p>
    
</div>
<div class="section">
    <a href="/auth/google" class="btn orange">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>